.heading{
    text-align: center;
    font-size: 3.5rem;
    color: #000000;
}
.main-1{
    background-color: #ffffff;
}
.heading2{
    font-size: 2.5rem;
    color: #000000;
    padding-left: 20px;
}