/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer h4 {
    color: #fff;
  }
  
  .footer .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .footer .col-md-6 {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  
  .footer p,
  .footer ul {
    color: #ccc;
    margin-bottom: 10px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #e91e63; /* Change to your preferred hover color */
    text-decoration: underline;
  }
  